// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cover {
    img {
        border-color: rgba(39, 37, 70, 0.6);
        border-width: 20px;
        border-style: solid;
        width: 240px;
    }
}